<div class="container shopping-list">
  <div class="row">
    <div class="col-sm-2 shoes-filter">
      <h3>Calçados (278)</h3>
      <h4>Tipos de calçados</h4>
      <ul>
        <li>Chuteira (255)</li>
        <li>Basquete (22)</li>
        <li>Corrida (10)</li>
      </ul>
    </div>

    <div class="col-sm">
      <a href="">
        <img
          src="https://images.lojanike.com.br/320x320/produto/tenis-nike-kyrie-low-4-unissex-CW3985-400-1.jpg"
          alt=""
        />
        <h3>Tênis Nike Sportswear Air Max 90 Masculino</h3>
        <h4 class="text-muted">Casual</h4>
        <p>R$ 259,59</p>

        <p class="color-item">1 Cor</p></a
      >
    </div>
    <div class="col-sm">
      <a href=""
        ><img
          src="https://images.lojanike.com.br/320x320/produto/tenis-nike-air-max-ap-CU4826-001-1-11628868413.jpg"
          alt=""
        />

        <h3>Tenis</h3>
        <h4 class="text-muted">Casual</h4>
        <p>R$ 149,99</p>
        <p class="color-item">1 Cor</p></a
      >
    </div>
    <div class="col-sm">
      <a href=""
        ><img
          src="https://images.lojanike.com.br/320x320/produto/tenis-air-vapormax-2021-fk-DC9394-001-1-11629211589.jpg"
          alt=""
        />
        <h3>Tenis</h3>
        <h4 class="text-muted">Casual</h4>
        <p>R$ 174,99</p>
        <p class="color-item">1 Cor</p></a
      >
    </div>
  </div>
</div>
