@import "../../variables";

.col-sm a p {
  margin-top: -4px;
}
.col-sm h3 {
  font-size: 16px;
  margin-top: 10px;
}
.col-sm-2 h3 {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}
.col-sm-2 h4 {
  font-size: 16px;
  margin-top: 30px;
  font-weight: bold;
  color: $nikeGrey;
}
.col-sm-2 ul {
  list-style: none;
  padding: 0;
}
.col-sm-2 li {
  margin-top: 5px;
  font-size: 13px;
}
.col-sm a {
  text-decoration: none;
  color: $black;
}
.row img {
  width: 90%;
}
.text-muted {
  font-size: 14px;
  font-weight: bold;
  margin-top: -3px;
}
.color-item {
  margin-top: -11px !important;
  color: rgb(134, 134, 134);
}
@media only screen and (max-width: 1025px) {
  .shoes-filter {
    display: none;
  }
}
