@import "../../variables";

.item a p {
  margin-top: -4px;
}
.item h3 {
  font-size: 16px;
}
.sidenav h3 {
  font-size: 24px;
  font-weight: bold;
}
.sidenav h4 {
  font-size: 13px;
  margin-top: 30px;
  font-weight: bold;
  color: $nikeGrey;
  margin-bottom: 5px;
}
.sidenav ul {
  list-style: none;
  padding: 0;
}
.sidenav li {
  margin-top: 7px;
  font-size: 13px;
}
.item a {
  text-decoration: none;
  color: $black;
}
.row img {
  width: 100%;
}
.text-muted {
  font-size: 14px;
  font-weight: bold;
  margin-top: -3px;
}
.color-item {
  margin-top: -11px !important;
  color: rgb(134, 134, 134);
}

.shopping-list {
  display: grid;

  grid-template-areas: "sidenav item item item" "sidenav item item item" "sidenav item item item" "sidenav item item item";
  grid-gap: 20px;
}
img {
  width: 100%;
}
.sidenav {
  max-width: 300px;
  min-width: 200px;
  width: 300px;
  height: auto;

  grid-area: "sidenav";
  grid-row: sidenav;
}
.item {
  max-width: 300px;
  min-width: 200px;
  height: auto;
  grid-area: "item";
}
@media only screen and (max-width: 875px) {
}
@media only screen and (max-width: 1025px) {
  .shoes-filter {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .shopping-list {
    display: grid;

    grid-template-areas: "item item" " item item" "item item" "item item";
  }
  .item {
    max-width: 500px;
    min-width: 100px;
  }
  .sidenav {
    display: none;
  }
}
