<div class="container">
  <div class="row">
    <div class="col-sm-2 shoes-filter"><h3>Calçados</h3></div>
    <div class="col-sm">
      <a href="">
        <img
          src="https://images.lojanike.com.br/320x320/produto/tenis-nike-kyrie-low-4-unissex-CW3985-400-1.jpg"
          alt=""
      /></a>
      <h3>Tenis</h3>
      <h4 class="text-muted">Casual</h4>
      <p>R$ 250,00</p>
    </div>
    <div class="col-sm">
      <a href=""
        ><img
          src="https://images.lojanike.com.br/320x320/produto/tenis-nike-air-max-ap-CU4826-001-1-11628868413.jpg"
          alt=""
      /></a>

      <h3>Tenis</h3>
      <h4 class="text-muted">Casual</h4>
      <p>R$ 250,00</p>
    </div>
    <div class="col-sm">
      <a href=""
        ><img
          src="https://images.lojanike.com.br/320x320/produto/tenis-air-vapormax-2021-fk-DC9394-001-1-11629211589.jpg"
          alt=""
      /></a>
      <h3>Tenis</h3>
      <h4 class="text-muted">Casual</h4>
      <p>R$ 250,00</p>
    </div>
  </div>
</div>
