@mixin AlignHorizontal($position) {
  align-items: $position;
}
.filterbox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-items {
  margin-left: auto;
  margin-right: 30px;
  width: fit-content;

  @include AlignHorizontal(center);
}

.filter-items img {
  width: 24px;
}
.filter-items b {
  font-size: 20px;
  margin-right: 5px;
}

.filter-selector {
  cursor: pointer;
  margin-right: 20px;
}

.square {
  background: #fff;
  height: 20px;
  width: 20px;
  border: 1px solid rgb(214, 214, 214);
  margin: 0px 2px;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.selected-square {
  .square {
    border: 1px solid rgb(37, 37, 37) ;    
  }
}

.nike-dropdown-container {
  .nike-dropdown {
    border: 1px solid #d0d0d0;
    padding: 12px;
    border-radius: 32px;
    cursor: pointer;
    user-select: none;
    min-width: 178px;
  }
  .drop-items {
    background: #ffff;
    .item {
      cursor: pointer;
      user-select: none;
      transition: .2s ease-in-out;
      &:hover {
        color: rgb(126, 126, 126);
      }
    }
  }

}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  position: relative;
  top: 1px;
}

.down {
  transform: rotate(45deg);
  position: relative;
  bottom: -25px !important;
}

@media only screen and (max-width: 400px) {
  .dropdown {
    display: none;
  }

  .filter-selector {
    margin-right: 0;
  }
}


