@import "../../../../variables.scss";

.swiper-wrapper {
  margin-top: 106px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  background: #f7f7f7;
  .swiper-container {
    margin: 0 auto;
    max-width: 750px;
    height: auto;
    .swiper-info {
      text-align: center;
      font-size: 14px;
      u {
        font-size: 12px;
      }
      .swiper-item {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 40px;
          right: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .swiper-wrapper {
    background: #111111;

    .swiper-info {
      color: #fff;
    }
  }
}
@media only screen and (max-width: 992px) {
  .swiper-container {
    max-width: 100% !important;
  }
}
@media only screen and (max-width: 425px) {
  .swiper-item {
    font-size: 3.4vw !important;
    img { 
      display: none;
    }
  }
}
