<div class="w-100 swiper-wrapper">
  <div class="swiper-container">
    <swiper
    [config]="config"
    class="swiper-info px-4"
    [autoplay]="{
      delay: 2500,
      disableOnInteraction: false
    }"
  >
    <ng-template swiperSlide>
      <div class="swiper-item d-flex justify-content-center align-items-center py-1">
        <div style="height: fit-content">
          <img
            src="https://images.lojanike.com.br/pitchbar/ni/14_20200812084625.png"
            class=""
            alt=""
          />
          <b class=""> Frete grátis</b> para todo brasil. <u class="ms-2">Saiba mais</u>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-item d-flex align-items-center justify-content-center py-1">
        <div>
          <img
            src="https://images.lojanike.com.br/pitchbar/ni/42_20210218170130.png"
            alt=""
          />
          <b class="">NIKE OUTLET</b> Compre pelo whatsapp e retire na loja mais próxima.
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-item d-flex align-items-center justify-content-center py-1">
        <div>
          <img
            src="https://images.lojanike.com.br/pitchbar/ni/18_20200130171103.png"
            alt=""
            class=""
          />
          Fique por dentro dos lançamentos <b class="">SKNRS</b>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-item d-flex align-items-center justify-content-center py-1">
        <div>
          <img
            src="https://images.lojanike.com.br/pitchbar/ni/21_20200610184046.png"
            alt=""
            class=""
          />
          <b class=""> MOVE TO ZERO</b> Jornada de sustentabilidade da Nike.
          <u class="">Saiba Mais</u>
        </div>
      </div>
    </ng-template>
  </swiper>
  </div>
</div>