<div class="container">
  <div class="publishment d-flex">
    <div class="triangle"></div>
    <H1>Destaques</H1>
    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex">
            <img
              class="d-block w-100"
              src="https://images.lojanike.com.br/440x440/produto/tenis-air-jordan-1-low-DC6991-016-1-11629211528.jpg"
              alt="First slide"
            />
            <div class="content-text">
              <h4>Tênis airJordan 1 Low SE</h4>
              <h4>Masculino</h4>
              <h3 class="text-muted">Basquete/Casual</h3>
              <h3 class="text-muted">R$ 179,00</h3>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex">
            <img
              class="d-block w-100"
              src="https://images.lojanike.com.br/440x440/produto/tenis-nike-air-max-97-masculino-921826-015-1.png"
              alt="First slide"
            />
            <div class="content-text">
              <h4>Tênis air max 97</h4>
              <h4>Masculino</h4>
              <h3 class="text-muted">Basquete/Casual</h3>
              <h3 class="text-muted">R$ 179,00</h3>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex">
            <img
              class="d-block w-100"
              src="https://images.lojanike.com.br/440x440/produto/tenis-nike-sb-charge-canvas-unissex-CD6279-402-1.jpg"
              alt="First slide"
            />
            <div class="content-text">
              <h4>Tênis Nike SB</h4>
              <h4>Masculino</h4>
              <h3 class="text-muted">Basquete/Casual</h3>
              <h3 class="text-muted">R$ 179,00</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="cors-wrapper">
        <ul class="carousel-indicators">
          <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#mainCarousel" data-slide-to="1"></li>
          <li data-target="#mainCarousel" data-slide-to="2"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
