@mixin AlignHorizontal($position) {
  align-items: $position;
}
.filterbox {
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter-items {
  margin-left: auto;
  margin-right: 25px;
  width: fit-content;

  @include AlignHorizontal(center);
}

.filter-items b {
  font-size: 20px;
  margin-right: 50px;
}
