<div class="desk-nav">
  <div class="container d-flex">
    <div class="logo"><img src="../../../assets/images/nike.png" alt="" /></div>
    <div class="desk-links">
      <a href="">TOPS ESPORTIVOS</a>
      <a href="">LANÇAMENTOS</a>
      <a href="">FEMININO</a>
      <a href="">MASCULINO</a>
      <a href="">INFANTIL</a>
      <a href="">SNKRS</a>
      <a href="">OFERTAS</a>
    </div>

    <div class="input-box">
      <div class="more-links d-flex">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary search-btn" type="button">
            <img src="../../../assets/images/search.svg" alt="" />
          </button>
        </div>
        <input
          type="text"
          class="form-control search-input"
          placeholder="O que você procura?"
          aria-label=""
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
  </div>
</div>
