@import "../../../variables";

.search-btn {
  border-radius: 0px;
  border-right: none;
  border-color: $lightGrey;
}
.search-input {
  border-left: none;
  border-radius: 0px;
  border-color: $lightGrey;
  font-size: 13px;
}

.input-wrapper {
  background-color: $white;
  padding-bottom: 12px;
}
