
<div class="shopping-container">
  
  <div [hidden]="shoes.length < 1">
    <app-filter [shoes]="shoes" (selectedGrid)="selectedGrid($event)" (showFilters)="filtersOnToggle($event)"></app-filter>
    
    <div class="px-3 d-flex">
      <div class="sidenav me-3 mt-4" [ngClass]="{'disabled-filter': !filterIsActive}">
        <div style="min-width: 252px;">
          <app-settings-filter #filterSettings [hidden]="!filterIsActive"></app-settings-filter>
        </div>
      </div>
      <div class="shopping-container position-relative w-100 shopping-list mt-4" [ngClass]="gridStyles(gridSize)">
        <div [hidden]="!shoesFiltered" class="position-absolute w-100 h-100" style="background: rgba(255, 255, 255, 0.737); z-index: 9999;" ></div>
        <div class="item w-100" *ngFor="let shoe of shoes; let i = index">
          <div style="cursor: pointer;  transition: all .3s ease-in-out;" [routerLink]="['item/' + shoe.id]">
            <div class="img-box w-100" style="transition: all .3s ease-in-out;">
              <div *ngIf="isLoading" class="loader-img w-100"></div>
              <img [hidden]="isLoading" (load)="onLoad()" class="img-fluid" [src]="shoe.imgUrl" alt="" />
              <a  [routerLink]="['item/' + i]" class="item-button w-100 mx-auto">COMPRAR</a>
            </div>
      
            <div>
              <h3>{{ shoe.name }}</h3>
              <h4 class="text-muted">{{ shoe.type }}</h4>
              <p>R$ {{ shoe.price }}</p>
            </div>
          
          </div>
        </div>
      </div>
    
    </div>
  </div>

  <div *ngIf="shoes.length < 1" class="w-100 text-center mt-5">
    <h1>
      Não encontramos nenhum resultado .
    </h1>

    <button class="btn btn-checkout mt-2" (click)="getAllShoes()">
      Veja Todos os Calçados.
    </button>
  </div>

</div>
