@import "../../../../variables";

.shopping-container {
  margin: 0 auto;
  max-width: 1600px;
}
.sidenav h3 {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.sidenav h4 {
  font-size: 13px;
  margin-top: 30px;
  font-weight: bold;
  color: $nikeGrey;
  margin-bottom: 5px;
  cursor: pointer;
}
.sidenav ul {
  list-style: none;
  padding: 0;
}
.sidenav li {
  margin-top: 7px;
  font-size: 13px;
  cursor: pointer;
  &:hover {
    color: $nikeGrey;
  }
}
.item a {
  text-decoration: none;
  color: $black;
}

.text-muted {
  font-size: 14px;
  font-weight: bold;
  margin-top: -3px;
}
.color-item {
  margin-top: -11px !important;
  color: rgb(134, 134, 134);
}

.shopping-list {
  display:grid;
  grid-template-areas: "item item item item" "item item item item" "item item item item" "item item item item";
  grid-gap: 60px;
  column-gap: 20px;
  grid-auto-columns: minmax(0, 1fr);

}

.grid-2 {
  grid-template-areas: 
  "item item" 
  "item item"
  "item item" 
  "item item" 
  "item item";
}
.grid-3 {
  grid-template-areas: 
  "item item item" 
  "item item item"
  "item item item" 
  "item item item" 
  "item item item";


}

.grid-4 {
  grid-template-areas: 
  "item item item item" 
  "item item item item"
  "item item item item" 
  "item item item item" 
  "item item item item";

}
img {
  width: 100%;
}

.loader-img {
  height: 310px;
  background: rgb(243, 243, 243);
  
}
.sidenav {
  width: 304px;
  height: auto;
}

.item {
  min-height: 285px; 
  
  .item-button {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .2s ease-in-out;
    padding: 8px; 
    bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    background-color: $black;
    border-radius: 3px;
    color: $white !important;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: 999;
  }
  .img-box {
    position: relative;
    height: auto;
    img {
      position: relative;
      max-width: 100% !important;
      min-width: 100px !important;
      height: 100%; 
    }
  }
  h3 {
    font-size: 16px;
    margin-top:5px;
  }
  &:hover .item-button {
    visibility: visible;
    opacity: 1;
  }
}


@media only screen and (max-width: 1024px) {
  app-filter {
    display: none;
  }
  .shoes-filter {
    display: none;
  }

  .shopping-list {
    margin-top: 25px;
    display: grid;

    grid-template-areas: "item item" " item item" "item item" "item item" !important;
  }

  .item {
    max-width: 500px !important;
    min-width: 100px !important;
  }

  .sidenav {
    display: none;
  }

  .item-button {
    display: none;
  }
}