@import "../../../../variables";

.item a p {
  margin-top: -4px;
}
.item h3 {
  font-size: 16px;
}
.sidenav h3 {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.sidenav h4 {
  font-size: 13px;
  margin-top: 30px;
  font-weight: bold;
  color: $nikeGrey;
  margin-bottom: 5px;
  cursor: pointer;
}
.sidenav ul {
  list-style: none;
  padding: 0;
}
.sidenav li {
  margin-top: 7px;
  font-size: 13px;
  cursor: pointer;
  &:hover {
    color: $nikeGrey;
  }
}
.item a {
  text-decoration: none;
  color: $black;
}
.row img {
  width: 100%;
}
.text-muted {
  font-size: 14px;
  font-weight: bold;
  margin-top: -3px;
}
.color-item {
  margin-top: -11px !important;
  color: rgb(134, 134, 134);
}

.shopping-list {
  display: grid;

  grid-template-areas: "sidenav item item item item" "sidenav item item item item" "sidenav item item item item" "sidenav item item item item";
  grid-gap: 30px;
  column-gap: 20px;
}
img {
  width: 100%;
  max-height: 425px;
}
.sidenav {
  max-width: 300px;
  min-width: 200px;
  width: 300px;
  height: auto;

  grid-area: "sidenav";
  grid-row: sidenav;
}
.item-button {
  visibility: hidden;
  position: absolute;
  padding: 8px;

  text-align: center;
  bottom: 143px;
  font-weight: bold;
  font-size: 12px;
  background-color: $black;
  border-radius: 3px;
  color: $white !important;
  width: 100% !important;
}

.item {
  max-width: 340px;
  min-width: 200px;
  height: auto;

  grid-area: "item";
  position: relative;
  &:hover .item-button {
    visibility: visible;
  }
}

.item a h3 {
  margin-top: 30px;
}

@media only screen and (max-width: 1024px) {
  .shoes-filter {
    display: none;
  }

  .shopping-list {
    display: grid;

    grid-template-areas: "item item" " item item" "item item" "item item" !important;
  }

  .item {
    max-width: 500px !important;
    min-width: 100px !important;
  }

  .sidenav {
    display: none;
  }

  .item-button {
    display: none;
  }
}

@media only screen and (max-width: 1216px) {

  .shopping-list {
    grid-template-areas: "sidenav item item item" "sidenav item item item" "sidenav item item item" "sidenav item item item";
  }
}
