$counterBorder: #e4e4e4;
@mixin counterButtons {
    width: 34px;
    height: 42px;
    background: #ffff;
    cursor: pointer;
    border:  1px solid $counterBorder;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: #f7f7f7;
    }
}

.delete-mobile {
    display: none !important;
}

.cart-header {
    background: #f7f7f7;
    height: 88px;
    .logo{ 
        width: 57px;
        height: 57px;
        cursor: pointer;
    }
}

.cart-box {
    max-width: 900px;
}

.number-counter {
    user-select: none;
    .minus {
        @include counterButtons();
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 38px;
        color: rgb(106, 106, 106);
    }
    .value {
        width: 40px;
        height: 42px;
        background: #ffff;
        cursor: pointer;
        border-top: 1px solid $counterBorder;
        border-bottom: 1px solid $counterBorder;
        font-size: 14px;
    }
    .plus {
        @include counterButtons();
        font-size: 23px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
}

.step {
    font-size: 12px;
    background: #000;
    border-radius: 100%;
    color: #fff;
    min-width: 20px;
    min-height: 20px;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    right: -12px;
    border-left: 15px solid #f7f7f7;
    position: absolute;
}

.fit-content {
    width: fit-content;
}

.btn-home {
    border-radius: 18px;
    width: 320px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    user-select: none;

    &:hover {
        color: rgb(116, 116, 116);
    }
}

.arrow {
    border: solid rgb(82, 82, 82);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
}

.left {
    transform: rotate(135deg);
    position: relative;
    bottom: 3px;
    right: 4px;
}

.item-data {
    .item-img {
        width: 62px;
    }
}

.delete-icon-box {
    cursor: pointer;
    height: fit-content;
    background: transparent;
    width: fit-content;
    position: relative;
    bottom: 5px;
    padding: 10px;
    border-radius: 100%;
    &:hover {
        background-color: #f7f7f7;
        opacity: .6s;   
    }
    span {
        font-size: 16px;
        font-weight: bold;
    }
}

.subtotal-box {
    height: 60px;
    background: #f7f7f7;
}


@media only screen and (max-width: 390px) {
    .arrow-right {
        display: none;
    }
}

@media only screen and (max-width: 990px) {
    .counter-box {
        margin-top: 22px;
        .number-counter {
            width: fit-content;
            margin-right: auto !important;
        }
    }

    .total-value {
        margin-top: 22px;
        text-align: right !important;
    }
    .cart-row-header {
        display: none;
    }

    .cart-routes {
        display: none !important;
    }
    
    .item-data {
        flex-direction: column-reverse;
        .item-img {
            margin-top: 15px;
            width: 100%;
        }
    }

    .subtotal-box {
        display: none !important;
    }

    .unit-value {
        display: none;
    }

    .delete-box {
        display: none;
    }

    .delete-mobile {
        display: block !important;
    }

    .delete-icon-box {
        padding: 0;
        bottom: 0;
        right: 10px;
    }
}

