<div class="filterbox">
  <div class="filter-items d-flex">
    <div class="filter-selector">
      Filtros <img src="../../assets/images/adjust.svg" alt="" />
    </div>

    <div class="dropdown">
      <button
        class="btn dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Ordenar por <span class="text-muted">{{ selectedFilter }}</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="selectFilter('Preço')" href="#">Preço</a>
        <a class="dropdown-item" (click)="selectFilter('Lançamento')" href="#">Lançamento</a>
        <a class="dropdown-item" (click)="selectFilter('Masculino')" href="#">Masculino</a>
        <a class="dropdown-item" (click)="selectFilter('Feminino')" href="#">Feminino</a>
      </div>
    </div>
  </div>
</div>
