/* You can add global styles to this file, and also import other style files */
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.swiper-info {
  .swiper-button-prev, .swiper-button-next {
    &::after {
      font-size: 14px;
      padding: 10px !important;
    }
  }
  .swiper-button-prev::after,
    .swiper-button-next::after {
        color: #000;
        font-size: 20px;
        font-weight: bold;
    }
}
.container {
  max-width: 1885px !important;
}

html,
body {
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .swiper-info {
    .swiper-button-prev::after,
      .swiper-button-next::after {
          color: rgb(255, 255, 255);
      }
  }
}