<div class="container">
  <H1 class="featured-mobile">OFERTAS</H1>
  <div class="publishment d-flex">
    <div class="triangle"></div>
    <H1 class="featured">Destaques</H1>

    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let shoe of featuredShoes; let i = index;" class="carousel-item active" [ngClass]="{'active': i === 0}">
          <div class="d-flex slider-content" [routerLink]="['item/' + shoe.id]">
            <img
              class="d-block w-100"
              [src]="shoe.imgUrl"
              alt="First slide"
            />
            <div class="content-text">
              <div class="content-text-box">
                <h4>{{shoe.name}}</h4>
                <h4>{{shoe.gender}}</h4>
                <h3 class="text-muted">{{shoe.type}}</h3>
                <h3 class="text-muted">R$ {{shoe.price}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#mainCarousel"
        role="button"
        data-slide="prev"
      >
        <i class="arrow left"></i>
      </a>
      <a
        class="carousel-control-next"
        href="#mainCarousel"
        role="button"
        data-slide="next"
      >
        <i class="arrow right"></i>
      </a>
      <div class="cors-wrapper">
        <ul class="carousel-indicators">
          <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#mainCarousel" data-slide-to="1"></li>
          <li data-target="#mainCarousel" data-slide-to="2"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
