<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-limiter">
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.lojanike.com.br/pitchbar/ni/42_20210218170130.png"
          alt=""
        />
        <b>NIKE OUTLET</b> Compre pelo whatsapp e retire na loja mais próxima.
      </div>
      <div class="carousel-item">
        <img
          src="https://images.lojanike.com.br/pitchbar/ni/18_20200130171103.png"
          alt=""
        />
        Fique por dentro dos lançamentos <b>SKNRS</b>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.lojanike.com.br/pitchbar/ni/14_20200812084625.png"
          alt=""
        />
        <b> Frete grátis</b> para todo brasil. <u>Saiba mais</u>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.lojanike.com.br/pitchbar/ni/21_20200610184046.png"
          alt=""
        />
        <b> MOVE TO ZERO</b> Jornada de sustentabilidade da Nike.
        <u>Saiba Mais</u>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <i class="arrow left"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <i class="arrow right"></i>
    </a>
  </div>
</div>
