<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <b>NIKE OUTLET</b> Compre pelo whatsapp e retire na loja mais próxima.
    </div>
    <div class="carousel-item">
      Fique por dentro dos lançamentos <b>SKNRS</b>
    </div>
    <div class="carousel-item">
      Frete grátis para todo brasil. <u>Saiba mais</u>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <i class="arrow left"></i>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <i class="arrow right"></i>
  </a>
</div>
