@import "../../../variables";

.carousel {
  background: $white;
  height: 52px;
  border-bottom: 1px solid $lightGrey;
}
.carousel-item {
  text-align: center;
  color: $black;
  margin-top: 6px;
  font-size: 13px;
  cursor: auto;
}
.carousel-item img {
  position: relative;
  width: 40px;
  right: 20px;
}
u {
  font-size: 11px;
}
.arrow {
  border: 1px solid $black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.carousel-wrapper {
  padding-top: 110px;
}
@media only screen and (max-width: 992px) {
  .carousel {
    background: $black;
    height: auto;
  }
  .carousel-item {
    text-align: center;
    color: $white;
    font-size: 13px;
    cursor: auto;
    padding: 15px;
    margin-top: 0;
  }
  .carousel-item img {
    display: none;
  }
  .arrow {
    border: 1px solid $white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}
@media only screen and (max-width: 425px) {
  .carousel-item {
    font-size: 3vw;
  }
}
