<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a [routerLink]="'/'" class="logo"
    ><img src="../../assets/images/nike.png" alt=""
    /></a>
    <div class="d-flex">
      <a (click)="focusCartMenu()" class="cart-mobile"
      ><img src="../../assets/images/cart-mobile.svg" alt=""
      /></a>
      <div class="burger" (click)="focusMobileMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</nav>

<div class="position-relative">
  <div class="input-wrapper">
    <div class="container">
      <form [formGroup]="searchForm" (submit)="searchByName(searchForm.get('search')!.value)">
        <div class="input-group d-flex">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary search-btn" type="submit">
              <img src="../../../assets/images/search.svg" alt="" />
            </button>
          </div>
          <input
            type="text"
            class="form-control search-input"
            placeholder="O que você procura?"
            formControlName="search"
            (click)="slideDownMenu()"
            aria-label=""
            aria-describedby="basic-addon1"
          />
        </div>
      </form>
    </div>
  </div>

  <div class="w-100 position-relative search-menu ps-3" [ngClass]="{'active-search': isSearchActive }">
      <h3 (click)="searchByName('Mercurial')">
        Mercurial
      </h3>
      <h3 (click)="searchByName('Air')">
        Air Max
      </h3>
      <h3 (click)="searchByName('Winflo')">
        Winflo
      </h3>
  </div>
</div>
