@import "../../../../variables.scss";

.search-btn {
  border-radius: 0px;
  border-right: none;
  border-color: $lightGrey;
}

.cart-mobile {
  margin-top: 2px;
  cursor: pointer;
  img {    
    transition: .1s ease-in-out;
    &:hover {
      opacity: .6;
    }
  }
} 

.search-input {
  border-left: none;
  border-radius: 0px;
  border-color: $lightGrey;
  font-size: 13px;
}

.burger {
  margin-left: 35px;
  cursor: pointer;
}

.input-wrapper {
  background-color: $white;
  padding-bottom: 12px;
}

.navbar {
  background-color: $white;
}
