<div class="desk-nav">
  <div class="container d-flex justify-content-between" style="background: #fff; transition: all .2s ease;">
      <div class="custom-w d-flex align-items-center justify-content-between" style="transition: all .2s ease;" [ngClass]="{'width-on-focus': focusSearchOn}">
      
        <div style="z-index: 999; min-width: 60px; min-height: 60px; transition: all .2s ease" class="logo"><img src="../../../assets/images/nike.png" alt="" /></div>
        <div [ngClass]="{'d-none': !linksReadyToAppear}" class="desk-links dropdown">
          <a href="" class="desk-link">DÊ ESPORTIVOS</a>
          <a href="" class="desk-link">LANÇAMENTOS</a>
          <a href="" class="desk-link">FEMININO</a>
          <a href="" class="desk-link">MASCULINO</a>
          <a href="" class="desk-link">INFANTIL</a>
          <a href="" class="desk-link">SNKRS</a>
          <a href="" class="desk-link">OFERTAS</a>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      
      </div>


      <div class="more-links mx-auto d-flex position-relative" style="z-index: 9; transition: all .2s ease; right: 0; width: 28%;" [ngClass]="{'move-input-left': focusSearchOn}">
        <div class="position-absolute" style="top: -20px; right:0;">
          <div class="fit-content d-flex">
            <div class="input-group-prepend search-button-style">
              <button class="btn btn-outline-secondary search-btn search-button-style" type="button">
                <img style="min-width: 16px; min-height:16px" src="../../../assets/images/search.svg" alt="" />
              </button>
            </div>
            <input
              (click)="focusInput()"
              type="text"
              class="form-control search-input"
              placeholder="O que você procura?"
              aria-label=""
              aria-describedby="basic-addon1"
              style="transition: ALL .2s ease-in-out;"
              [ngClass]="{'search-on-width': focusSearchOn}"

            />
          </div>

        </div>
        <div class="position-absolute d-flex justify-content-center align-items-center close-btn" (click)="closeSearchInput()" [ngClass]="{'show-btn': closeButtonReadyToAppear , 'hide-btn': !closeButtonReadyToAppear}">
          +
        </div>
      </div>
      <div class="input-box position-absolute" [@openClose]="focusSearchOn ? 'open' : 'closed'"  style="top: 53px; right:0;width:230px; transition: all .2s ease-in-out; background: rgb(255, 255, 255); z-index: 8;" [ngClass]="{'search-over-animation': focusSearchOn}">
      </div>
  </div>
</div>
