@import "../../../../variables.scss";
@import "../mobile-nav/mobile-nav.component.scss";
@mixin flexSpace($content) {
  align-items: center;
}

.desk-nav .container {
  @include flexSpace(space-around);
  padding: 5px;
  background: #fff;
  transition: all .2s ease;
  
}
.desk-nav {
  border-bottom: 1px solid $lightGrey;
  position: relative;
  z-index: 99999;
}

.active-menu {
  top: 53px;
  right:0;
  width:230px;
  transition: all .2s ease-in-out;
  background: rgb(255, 255, 255);
  z-index: 8;

  .items-menu {
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    height: auto;
    border:1px solid rgb(149, 149, 149) ;
  }
}

.desk-links ul li {
  list-style: none;
}

.more-links {
  z-index: 9;
  transition: all .2s ease;
  right: 0;
  width: 28%;
}

.logo {
  cursor: pointer;
  z-index: 999;
  min-width: 60px;
  min-height: 60px;
  transition: all .2s ease;
  img {
    width: 59px;
    margin-left: 9px;
  }

}


.search-input {
  width: 170px;
  height: 38px;
  background: #f5f5f5;
  border-bottom-right-radius: 18px;
  border: none;
  border-top-right-radius: 18px;
  &:focus {
      outline: none ;
      box-shadow: none ;
  }

  &:hover{
    background: #dcdcdc;

    .search-btn {
      background: #dcdcdc !important;
    }
  }
}

.search-btn {
  background: #f5f5f5 !important;
  min-width: 41px;
  min-height: 38px;
  border: none;
  img {
    transition: .2s ease;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}

.search-button-style {
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  background: rgb(241, 241, 241);
}

.desk-links {
  margin-left: 135px;
  font-size: 13px;
  position: relative;
}

.desk-links .desk-link {
  text-decoration: none;
  margin-right: 27px;
  color: $black;
  padding-bottom: 25px;
  &:hover {
    border-bottom: 2px solid black;
  }
}

.desk-links a:last-child {
  margin-right: 0px;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;

  background-color: $white;
  top: 45px;

  width: 100%;

  margin: 0 auto;
  border-bottom: 1px solid $lightGrey;
  z-index: 2;
  position: absolute;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  &:hover {
    color: $nikeGrey;
  }
  transition: 0.2s ease-in-out;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.desk-nav {
  background: $white;
}

.search-on-width {
  width: 500px;
}

.search-over-animation {
  position: absolute;
  right: 0;
  top: 53px;
  background: rgb(255, 255, 255);
  width: 100% !important;
}

.custom-w {
  width: 65%;
}

.dummy-div {
  width: 4%;
}

.width-on-focus {
  width: 0% !important;
}

.d-block {
  display: block !important;
}

.show-btn {
  width:40px !important;
  height: 40px !important;
  font-size: 32px !important;
  visibility: visible;
  transition: all .3s ease;
}
.hide-btn {
  width: 0px !important;
  height: 0px !important;
  font-size: 0px !important;
  visibility: hidden;
  transition: all 0s ease;
}
.close-btn {
  right: -250px;
  bottom: -22px;
  user-select: none;
  width: 0px;
  height: 0px;
  font-size: 0px;
  border-radius: 24px;
  color: black;
  transform: rotate(45deg);
  cursor: pointer;
  background: #f5f5f5;

  &:hover {
    background: #bebdbd;
  }
}

.slide-animation {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

.list-title {
  opacity: 0;
  transition: .3s;
  transform: translateY(-20px);
}

.list-item {
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
  transition: .2s ease;
  opacity: 0;
  transition: .3s;
  transform: translateY(-20px);
  &:hover {
    color: rgb(91, 91, 91);
  }
}


@media only screen and (max-width: 1155px) {
  .desk-links {
    font-size: 1vw;
  }
}
