<div class="item-container">
  <div class="d-flex item-box mt-5">
    <div class="w-100 selected-item">
      <ng-container *ngFor="let imgs of item.itemImgs">
        <div class="w-100 item">
          <div *ngIf="isLoading" class="loader-img w-100"></div>
          <img [src]="imgs" (load)="onLoad()" alt="">
        </div>
      </ng-container>
    </div>
    <div class="ps-4 item-info">
      <h1>{{ item.name }}</h1>
      <p class="mt-3">R${{item.price}}</p>
      <div class="mt-3">
        <a routerLink="/cart" (click)="addToCart()" class="btn btn-success">Comprar</a>
      </div>
    </div>

  </div>
  
  
</div>
